.container__select {
  appearance: none;
  outline: none;
  border: 1px solid rgba(40, 40, 70, .2);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px 15px;
  width: 150px;
  height: 100%;
  margin-left: 20px;
  color: #282846;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .02em;
  opacity: .3;
}

.container__select:active {
  opacity: 0;
}